.search-bar{

    position:relative;

    width:300px;

}

.search-bar input{

    width:100%;

    padding:12px 14px 12px 42px;

    border:1px solid #ddd;

    border-radius:10px;

    outline:none;

    font-size:15px;

}

.search-bar input:focus{

    border-color:#4f46e5;

}

.search-icon{

    position:absolute;

    left:14px;

    top:50%;

    transform:translateY(-50%);

    color:#6b7280;

}