.sidebar{
    width:260px;
    height:100vh;

    background:#111827;
    color:white;

    display:flex;
    flex-direction:column;

    justify-content:space-between;

    position:fixed;
    left:0;
    top:0;
}

.sidebar-logo{
    padding:30px 25px;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.sidebar-logo h2{
    font-size:24px;
    font-weight:700;
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    padding:20px 12px;
    gap:8px;
}

.menu-item{
    display:flex;
    align-items:center;
    gap:14px;

    text-decoration:none;

    color:#d1d5db;

    padding:14px 18px;

    border-radius:12px;

    transition:.25s;
}

.menu-item:hover{
    background:#1f2937;
    color:white;
}

.menu-item.active{
    background:#6366F1;
    color:white;
}

.menu-item i{
    font-size:22px;
}

.logout-btn{
    margin:20px;

    border:none;

    background:#ef4444;

    color:white;

    height:48px;

    border-radius:12px;

    cursor:pointer;

    font-size:15px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.logout-btn:hover{
    background:#dc2626;
}

/* logo */
.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.logo-img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    z-index:999;
}

.sidebar{
    z-index:1000;
}

/* Mobile */

@media (max-width:768px){

.sidebar{
    transform:translateX(-100%);
    transition:0.3s;
    z-index:1001;
}

.sidebar.open{
    transform:translateX(0);
}

.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    z-index:1000;
}

}