.footer{

background:#111827;
color:#fff;

padding:90px 8% 25px;

margin:0;

position:relative;

}

.footer-top{

    display:grid;
    grid-template-columns:2fr 1fr;
    gap:80px;
    margin-bottom:60px;

}

.footer-contact h2{

    font-size:42px;
    margin:20px 0;

}

.footer-contact p{

    color:#9CA3AF;
    line-height:1.8;
    margin-bottom:35px;

}

.contact-form{

    display:flex;
    flex-direction:column;
    gap:18px;

}

.contact-form input,
.contact-form textarea{

    background:#1F2937;
    border:1px solid #374151;
    color:white;
    padding:16px;
    border-radius:14px;
    font-size:15px;

}

.contact-form input::placeholder,
.contact-form textarea::placeholder{

    color:#9CA3AF;

}

.contact-form textarea{

    resize:none;

}

.footer-links{

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;

}

.footer-links h3{

    margin-bottom:20px;
    font-size:20px;

}

.footer-links a{

    display:block;
    color:#9CA3AF;
    text-decoration:none;
    margin-bottom:14px;
    transition:.3s;

}

.footer-links a:hover{

    color:white;
    padding-left:8px;

}

.footer-bottom{

display:flex;
justify-content:space-between;
align-items:center;

padding-top:25px;

margin-top:50px;

border-top:1px solid rgba(255,255,255,.08);

}

.footer-bottom h2{

    color:white;

}

.footer-bottom p{

    color:#9CA3AF;

}

.footer p:last-child{

margin-bottom:0;

}

/* Tablet */

@media(max-width:900px){

.footer-top{

grid-template-columns:1fr;

}

.footer-contact h2{

font-size:34px;

}

}

/* Mobile */

@media(max-width:600px){

.footer{

padding:70px 25px 25px;

}

.footer-links{

grid-template-columns:1fr;

}

.footer-bottom{

text-align:center;
justify-content:center;

}

.footer-contact h2{

font-size:28px;

}

}
